// font family

$main-font-stack: "Roboto", sans-serif;
// $second-font-stack: "Lato", Light;
// $paragraph-font-stack: "Roboto", sans-serif;

// font size
$main-font-size: 14px;
$title-font-size: 20px;
// $second-font-size: 12px;
// $slider-par-font-size: 10px;
// $magazines-goodwek-font-size: 20px;
// $magazines-harrods-font-size: 22px;
// $magazines-vog-font-size: 24px;

// font color
$main-font-color: #34495d;
$title-font-color: #37474f;
$button-font-color: #c2cfe0;
$filters-listItem-color: #a5b5cb;

//  background color
$main-container-background: #f8f9f9;
$inner-container-background: #fff;
$inner-border-color: #c2cfe0;
$inner-filters-background: #eaedf5;
$table-header-color: #f6f8fe;
$table-border-color: #f2f4fb;
// $inner-filters-border-color: #c2cfe0;
// $second-font-color: #fff;
// $main-title-color: #171721;
// $container-background-color: #e5e5e5;
