// font family

$main-font-stack: "Roboto", sans-serif;

// font size
$main-font-size: 14px;
$title-font-size: 20px;

// font color
$main-font-color: #34495d;
$title-font-color: #37474f;
$button-font-color: #c2cfe0;
$filters-listItem-color: #a5b5cb;
$table-link-color: #0288d1;
$table-status-success: #2ac9a1;
$table-status-error: #fb6868;

//  background color
$main-container-background: #f8f9f9;
$inner-container-background: #fff;
$inner-border-color: #c2cfe0;
$inner-filters-background: #eaedf5;
$table-header-color: #f6f8fe;
$table-border-color: #f2f4fb;
